#!/bin/false

# Environment configuration
#
# docker-compose sets the environmet from this file
#
# If you want to use the script outside docker you can source this script to set the environment
# prior to launch

# IP to listen on
#PENDLESSH_ADDRESS=0.0.0.0

# Port to listen on
#PENDLESSH_PORT=2222

# A random delay between 0 and this value between messages sent to the connected client
#PENDLESSH_MAX_DELAY=30

# If not provided this will be the hostname returned by `socket.gethostname()`,  which in docker
# this will be the container ID.
#PENDLESSH_PROMETHEUS_HOSTNAME=
